.cart {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 500px;
	width: 100%;
}

.item {
	height: 150px;
	width: 400px;
	display: flex;
	flex-direction: row;
	background-color: yellow;
	box-shadow: 1px 1px 1px gray;
	border-radius: 5px;
	cursor: pointer;
	transition: all .2s; 
}

.item:hover {
	transform: scale(1.05);
}